<div class="mt-8 flex flex-col"
     *ngIf="(membersInput$ | async )as result" [ngSwitch]="result.dataState">
  <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
      <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
        <ng-container *ngSwitchCase="DataStateEnum.LOADED">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Nom</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Prénom</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Téléphone</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Domicile</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Total</th>
          </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
          <app-member-item
            [members]="member"
            *ngFor="let member in result.memberDTOS" style="display: contents">
          ></app-member-item>
        <!--  <tr >
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">
              <div class="flex items-center">
                <div class="ml-4">
                  <div class="font-medium text-gray-900"></div>
                </div>
              </div>
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              <div class="text-gray-900"></div>
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              <div class="text-gray-900"></div>
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"></td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"></td>
            <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
              <button >
                <img class="h-6 w-6" src="assets/Icon awesome-eye.svg" alt="hocoulou">
              </button>
            </td>
          </tr>-->
          </tbody>
        </table>
        </ng-container>
      </div>
    </div>
  </div>
</div>
